# Ejercicios

Usando el archivo data/parsed.csv y el material de este capítulo, complete los siguientes ejercicios para practicar sus habilidades con pandas:

1. Encuentre el percentil 95 de la magnitud del terremoto en Japón usando el mb tipo de magnitud.
2. Encuentra el porcentaje de terremotos en Indonesia que fueron acompañados de tsunamis.
3. Calcular las estadísticas resumidas de los terremotos en Nevada.
4. Añade una columna indicando si el terremoto ocurrió en un país o estado de EEUU que se encuentre en el Cinturón de Fuego. Utiliza Alaska, Antártida (busca Antarctic), Bolivia,
California, Canadá, Chile, Costa Rica, Ecuador, Fiyi, Guatemala, Indonesia, Japón, Islas Kermadec, México (tenga cuidado de no seleccionar Nuevo México), Nueva Zelanda, Perú, Filipinas, Rusia, Taiwán, Tonga y Washington.
5. Calcula el número de terremotos en los lugares del Cinturón de Fuego y el número fuera de ellos.
6. Calcula el número de tsunamis a lo largo del Cinturón de Fuego.

In [2]:
import numpy as np
import pandas as pd

In [49]:
df = pd.read_csv('data/parsed.csv')
print(df)

     alert  cdi        code  \
0      NaN  NaN    37389218
1      NaN  NaN    37389202
2      NaN  4.4    37389194
3      NaN  NaN    37389186
4      NaN  NaN    73096941
...    ...  ...         ...
9327   NaN  NaN    73086771
9328   NaN  NaN    38063967
9329   NaN  NaN  2018261000
9330   NaN  NaN    38063959
9331   NaN  NaN    38063935

                                                 detail      dmin  felt  \
0     https://earthquake.usgs.gov/fdsnws/event/1/que...  0.008693   NaN
1     https://earthquake.usgs.gov/fdsnws/event/1/que...  0.020030   NaN
2     https://earthquake.usgs.gov/fdsnws/event/1/que...  0.021370  28.0
3     https://earthquake.usgs.gov/fdsnws/event/1/que...  0.026180   NaN
4     https://earthquake.usgs.gov/fdsnws/event/1/que...  0.077990   NaN
...                                                 ...       ...   ...
9327  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.018060   NaN
9328  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.030410   NaN
9329  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.452600   NaN
9330  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.018650   NaN
9331  https://earthquake.usgs.gov/fdsnws/event/1/que...  0.016980   NaN

        gap             ids   mag magType  ...     status           time  \
0      85.0    ,ci37389218,  1.35      ml  ...  automatic  1539475168010
1      79.0    ,ci37389202,  1.29      ml  ...  automatic  1539475129610
2      21.0    ,ci37389194,  3.42      ml  ...  automatic  1539475062610
3      39.0    ,ci37389186,  0.44      ml  ...  automatic  1539474978070
4     192.0    ,nc73096941,  2.16      md  ...  automatic  1539474716050
...     ...             ...   ...     ...  ...        ...            ...
9327  185.0    ,nc73086771,  0.62      md  ...   reviewed  1537230228060
9328   50.0    ,ci38063967,  1.00      ml  ...   reviewed  1537230135130
9329  276.0  ,pr2018261000,  2.40      md  ...   reviewed  1537229908180
9330   61.0    ,ci38063959,  1.10      ml  ...   reviewed  1537229545350
9331   39.0    ,ci38063935,  0.66      ml  ...   reviewed  1537228864470

                                         title tsunami        type  \
0                M 1.4 - 9km NE of Aguanga, CA       0  earthquake
1                M 1.3 - 9km NE of Aguanga, CA       0  earthquake
2                M 3.4 - 8km NE of Aguanga, CA       0  earthquake
3                M 0.4 - 9km NE of Aguanga, CA       0  earthquake
4                M 2.2 - 10km NW of Avenal, CA       0  earthquake
...                                        ...     ...         ...
9327      M 0.6 - 9km ENE of Mammoth Lakes, CA       0  earthquake
9328               M 1.0 - 3km W of Julian, CA       0  earthquake
9329  M 2.4 - 35km NNE of Hatillo, Puerto Rico       0  earthquake
9330             M 1.1 - 9km NE of Aguanga, CA       0  earthquake
9331             M 0.7 - 9km NE of Aguanga, CA       0  earthquake

                                                  types     tz        updated  \
0            ,geoserve,nearby-cities,origin,phase-data, -480.0  1539475395144
1            ,geoserve,nearby-cities,origin,phase-data, -480.0  1539475253925
2     ,dyfi,focal-mechanism,geoserve,nearby-cities,o... -480.0  1539536756176
3            ,geoserve,nearby-cities,origin,phase-data, -480.0  1539475196167
4     ,geoserve,nearby-cities,origin,phase-data,scit... -480.0  1539477547926
...                                                 ...    ...            ...
9327         ,geoserve,nearby-cities,origin,phase-data, -480.0  1537285598315
9328  ,geoserve,nearby-cities,origin,phase-data,scit... -480.0  1537276800970
9329                       ,geoserve,origin,phase-data, -240.0  1537243777410
9330  ,focal-mechanism,geoserve,nearby-cities,origin... -480.0  1537230211640
9331  ,focal-mechanism,geoserve,nearby-cities,origin... -480.0  1537305830770

                                                    url parsed_place
0     https://earthquake.usgs.gov/earthquakes/eventp...   California
1     https://earthquake.usgs.gov/earthquakes/eventp...   California
2     https://earthquake.usgs.gov/earthquakes/eventp...   California
3     https://earthquake.usgs.gov/earthquakes/eventp...   California
4     https://earthquake.usgs.gov/earthquakes/eventp...   California
...                                                 ...          ...
9327  https://earthquake.usgs.gov/earthquakes/eventp...   California
9328  https://earthquake.usgs.gov/earthquakes/eventp...   California
9329  https://earthquake.usgs.gov/earthquakes/eventp...  Puerto Rico
9330  https://earthquake.usgs.gov/earthquakes/eventp...   California
9331  https://earthquake.usgs.gov/earthquakes/eventp...   California

[9332 rows x 27 columns]

### Ejercicio 1 ###

In [22]:
# Creo un dataframe con los datos que correcponden a Japón
df_japan = df.loc[df['parsed_place'] == 'Japan']
# Creo un dataframe con los datos del tipo de magnitud mb
df_japan_mb = df_japan.loc[df_japan['magType'] == 'mb']
# Muestro los datos del percentil 95 de la magnitud
df_japan_mb['mag'].describe(percentiles=[0.95])

count    50.000000
mean      4.530000
std       0.266688
min       4.000000
50%       4.600000
95%       4.900000
max       5.400000
Name: mag, dtype: float64

### Ejercicio 2 ###

In [38]:
# Creo un dataframe con los datos de los terremotos de indonesia
df_indonesia = df.loc[df['parsed_place'] == 'Indonesia']
# Ahora busco los terremotos con tsunamis
df_indonesia_tsunami = df_indonesia.loc[df_indonesia['tsunami'] == 1]
# Calculo el porcetaje en base al número de filas de cada dataframe
porcetaje = round((len(df_indonesia_tsunami)*100)/len(df_indonesia), 2)

print(f"El porcentaje de terremotos con tsunamis es {porcetaje}%")

El porcentaje de terremotos con tsunamis es 23.13%

### Ejercicio 3 ###

In [44]:
# Calcular las estadísticas resumidas de los terremotos en Nevada.
# Creo un dataframe con los datos de los terremotos de Nevada
df_nevada = df.loc[df['parsed_place'] == 'Nevada']
df_nevada.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

### Ejercicio 4 ###

In [60]:
# Añadimos una columna llamada cinturon_fuego que busca en las localizaciones sin pertenecen al cinturon de fuego y coloca True, sino False
df['cinturon_fuego'] = (df['parsed_place'].str.contains('Alaska')) |(df['parsed_place'].str.contains('Antarctic')) | (df['parsed_place'].str.contains('Bolivia')) | \
    (df['parsed_place'].str.contains('California')) | (df['parsed_place'].str.contains('Canada')) | (df['parsed_place'].str.contains('Costa Rica')) | \
        (df['parsed_place'].str.contains('Ecuador')) | (df['parsed_place'].str.contains('Fiyi')) | (df['place'].str.contains('Guatemala')) | \
            (df['parsed_place'].str.contains('Indonesia')) | (df['parsed_place'].str.contains('Japan')) | (df['parsed_place'].str.contains('Kermadec islands')) | \
            (df['parsed_place'] == ('Mexico')) | (df['parsed_place'].str.contains('New Zealand')) | (df['parsed_place'].str.contains('Peru')) | \
                (df['parsed_place'].str.contains('Philippines')) | (df['parsed_place'].str.contains('Rusia')) |(df['parsed_place'].str.contains('Taiwan')) | \
                    (df['parsed_place'].str.contains('Tonga')) | (df['parsed_place'].str.contains('Washington')) | (df['parsed_place'].str.contains('Chile'))

### Ejercicio 5 ###

In [66]:
# Cuento las filas que tienen True en la columna cinturon_fuego
terremotos_cinturon_fuego = len(df.loc[df['cinturon_fuego'] == True])

# Cuento las filas que tienen False en la columna cinturon_fuego
terremotos_fuera_cinturon_fuego = len(df.loc[df['cinturon_fuego'] == False])

print(f"Los terremotos en el cinturon de fuego han sido: {terremotos_cinturon_fuego} y los terremotos fuera han sido: {terremotos_fuera_cinturon_fuego}")

Los terremotos en el cinturon de fuego han sido: 7092 y los terremotos fuera han sido: 2240

### Ejercicio 6 ###

In [65]:
# Medimos la longitud de las filas que tienen True en la columna cinturon fuego y además en la columna tsunami tienen un 1
tsunamis_cinturon_fuego = len(df.loc[(df['cinturon_fuego'] == True) & (df['tsunami'] == 1)])
print(f"Los tsunamis en el cinturon de fuego han sido: {tsunamis_cinturon_fuego}")

Los tsunamis en el cinturon de fuego han sido: 42