![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [2]:
ejer_1 = [1,2,3,4,5]
print(ejer_1.reverse())
ejer_1

None

[5, 4, 3, 2, 1]

In [11]:
ejer_1 = [1,2,3,4,5]
ejer_1.reverse()
ejer_1


# otro método, sería con un bucle for, insert siempre inserta al inicio. Con slice tb 
ejer_1 = [1,2,3,4,5]
lista = []
for i in ejer_1:
    lista.insert(0,i)
lista



ejer_1

[5, 4, 3, 2, 1]

In [13]:

# otro
ejer_1 = [1,2,3,4,5]
longitud = len(ejer_1)
for i in range(longitud//2):
    ejer_1[i], ejer_1[longitud-i-1] = ejer_1[longitud-i-1], ejer_1[i]

print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [5]:
ejer_2 = [1,2,3,4,5]
ejer_2mod = [e**2 for e in ejer_2]
ejer_2mod

[1, 4, 9, 16, 25]

In [7]:
ejer_2 = [1,2,3,4,5]

for num in ejer_2:
    print(num**2)

ejer_2

1
4
9
16
25

[1, 2, 3, 4, 5]

In [14]:
ejer_2 = [1,2,3,4,5]
[x**2 for x in ejer_2]

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [9]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

ejer_3sol = list()

for i in ejer_3_1:
    for j in ejer_3_2:
        ejer_3sol.append(i +' '+ j)
ejer_3sol

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [18]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

lista_palabras = list()

for i in ejer_3_1:
    for j in ejer_3_2:
        lista_palabras.append(i + ' ' + j)

lista_palabras

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [14]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

print(ejer_4.index(45))

ejer_4[ejer_4.index(45)] = 0
ejer_4

4

[20, 47, 19, 29, 0, 67, 78, 90]

In [22]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]

ejer_4.index(45)

ejer_4[ejer_4.index(45)] = 0

ejer_4

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [24]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

ejer_5_new = ejer_5.copy()

for n in ejer_5:
    # print('i = ', n)
    if n == 3:
        ejer_5_new.remove(3)


print(ejer_5)
ejer_5_new

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

[20, 47, 19, 29, 45, 67, 78, 90]

In [17]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
# tenemos que crear otra lista porque en la primera no podemos iterar sobre ella y modificarla. hay que recorrer la original PEOR NO ALTERARLA

lista = ejer_5.copy()

for n in ejer_5:
   print('i = ', n)
   if n == 3:
      lista.remove(3)
  
print(ejer_5)
print(lista)

i =  3
i =  20
i =  3
i =  47
i =  19
i =  3
i =  29
i =  45
i =  67
i =  78
i =  90
i =  3
i =  3
[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [42]:
tupla = ('cosa', 5, 8.0)
print(tupla)

tupla_2 = (56,)
print(type(tupla_2))

print(tupla[0])
print(tupla[len(tupla)-1])
print(tupla[-1])

nueva_tupla = ('nuevo',)
ejer_6_new = tupla + nueva_tupla
print(ejer_6_new)


ejer_6_6_1 = ejer_6_new[0:int(len(ejer_6_new)/2)]
ejer_6_6_2 = ejer_6_new[int(len(ejer_6_new)/2) + 1:]
print(ejer_6_6_1 + ejer_6_6_2)


print(list(ejer_6_new))

('cosa', 5, 8.0)
<class 'tuple'>
cosa
8.0
8.0
('cosa', 5, 8.0, 'nuevo')
('cosa', 5, 'nuevo')
['cosa', 5, 8.0, 'nuevo']

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [28]:
ejer_7 = ("cien", "cañones", "por", "banda")
print(' '.join(ejer_7))

ciencañonesporbanda

sintaxis ej .join: remplaza lo que está

In [29]:
for i in ejer_7:
    print(i, end = ' ')

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [45]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_8[2])
ejer_8[-3]

3

90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [52]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

print(ejer_9.count(3))
new_ejer9 = ejer_9[4:10]
print(new_ejer9)

print(len(ejer_9))

7
(19, 3, 29, 45, 67, 78)
26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [53]:
60 in ejer_9

False

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [64]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

ejer_11a = {}
for index, element in enumerate(ejer_9):
    ejer_11a[index] = element

print(ejer_11a)
type(ejer_11a)

{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

dict

In [34]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

print(list(ejer_9))

print(set(ejer_9))

ejer_11 = {}

for index, elemento in enumerate(ejer_9):
    ejer_11[index] = elemento

# se puede porque enumerate devuelve una tupla con la posicion y valor. Así indicamos que la posicion sea la key y el valor el valor del diccionario. 
print(ejer_11)

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}
{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

In [56]:
dict_2 = dict(enumerate(ejer_9))
print(dict_2)

# se puede porque enumerate convierte en tupla la posicion y valor. Así indicamos que la posicion sea la key y el valor el valor del diccionario

{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 12
Convierte la siguiente lista en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [61]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
ejer_12_dict_1 = dict(ejer_12)
print(ejer_12_dict_1)

{'x': 3, 'y': 2, 'z': 1}

In [58]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]

ejer_12_dict = {}
for i, j in ejer_12:
    ejer_12_dict[i] = j 

print(ejer_12_dict)

{'x': 3, 'y': 2, 'z': 1}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave con el valor de 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [83]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}

key_list = list(ejer_13.keys())
key_list.sort()
print(key_list)

[2, 4, 5, 8]

In [89]:
key_list_2 = list(ejer_13.values())
key_list_2.reverse()
print(key_list_2)

[29, 234, 98, 78]

In [93]:
ejer_13[10] = 10

print(ejer_13)

ejer_13.get(2)

{4: 78, 2: 98, 8: 234, 5: 29, 10: 10}

98

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [94]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}

In [96]:
ejer_14_1.update(ejer_14_2)
print(ejer_14_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [98]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
ejer_15_sum = sum(ejer_15.values())

ejer_15_sum

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [106]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}

prod = 1
for i in ejer_16.values():
    prod = prod * i

print(prod)

19326120

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()` porque si no está, no da error (similar a .get)

In [110]:
set_17 = {'hola', 'Laura', '15'}
print(set_17)

set_17.add('añadido')
print(set_17)

set_17.remove('añadido')
print(set_17)

set_17.discard('10')
print(set_17)

{'Laura', 'hola', '15'}
{'Laura', 'hola', 'añadido', '15'}
{'Laura', 'hola', '15'}
{'Laura', 'hola', '15'}