# Occupation

### Paso 1. Importar librerias

In [1]:
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Paso 3. Asígnalo a una variable llamada usuarios.

In [2]:
usuarios = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
usuarios

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Paso 4. Descubre cuál es la edad media por ocupación

In [3]:
usuarios.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Paso 5. Descubra la proporción de Hombres por ocupación y ordénela de mayor a menor

#### Forma 1

In [125]:
mujeres_por_ocupacion = usuarios.groupby(['occupation', 'gender']).size().unstack()['F']
hombres_por_ocupacion = usuarios.groupby(['occupation', 'gender']).size().unstack()['M']
total = hombres_por_ocupacion / mujeres_por_ocupacion
print(total.sort_values(ascending=False))

occupation
engineer         32.500000
technician       26.000000
retired          13.000000
programmer       10.000000
executive         9.666667
scientist         9.333333
entertainment     8.000000
lawyer            5.000000
salesman          3.000000
educator          2.653846
student           2.266667
other             1.916667
marketing         1.600000
writer            1.368421
none              1.250000
administrator     1.194444
artist            1.153846
librarian         0.758621
healthcare        0.454545
homemaker         0.166667
doctor                 NaN
dtype: float64

#### Forma 2

#### Forma 3

### Paso 6. Para cada ocupación, calcule las edades mínima y máxima

In [77]:
usuarios.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Paso 7. Para cada combinación de ocupación y sexo, calcule la edad media

In [78]:
usuarios.groupby(['occupation', 'gender'])['age'].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Paso 8.  Para cada ocupación, presente el porcentaje de mujeres y hombres

In [211]:
total_por_ocupacion = usuarios.groupby('occupation').count()['user_id']

porcentaje_hombres = (usuarios.groupby(['occupation', 'gender']).count().unstack()['user_id']['M'] * 100 / total_por_ocupacion).fillna(0)
porcentaje_mujeres = (usuarios.groupby(['occupation', 'gender']).count().unstack()['user_id']['F'] * 100 / total_por_ocupacion).fillna(0)

porcentaje_hombres.name = "Hombres"
porcentaje_mujeres.name = "Mujeres"

df = pd.merge(porcentaje_mujeres, porcentaje_hombres, on='occupation')
df

                 Mujeres     Hombres
occupation
administrator  45.569620   54.430380
artist         46.428571   53.571429
doctor          0.000000  100.000000
educator       27.368421   72.631579
engineer        2.985075   97.014925
entertainment  11.111111   88.888889
executive       9.375000   90.625000
healthcare     68.750000   31.250000
homemaker      85.714286   14.285714
lawyer         16.666667   83.333333
librarian      56.862745   43.137255
marketing      38.461538   61.538462
none           44.444444   55.555556
other          34.285714   65.714286
programmer      9.090909   90.909091
retired         7.142857   92.857143
salesman       25.000000   75.000000
scientist       9.677419   90.322581
student        30.612245   69.387755
technician      3.703704   96.296296
writer         42.222222   57.777778